<div class="admin-div">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Add car</a></li>
        <li><a data-toggle="tab" href="#menu1">Car list</a></li>
        <li><a data-toggle="tab" href="#menu2">Users list</a></li>
        <li><a data-toggle="tab" href="#menu3">Create car</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            {{>addCar}}
        </div>
        <div id="menu1" class="tab-pane fade">
            <h2>here will be car list ...</h2>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h2>here will be user list ...</h2>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h2>here will be form for creating a new car ...</h2>
        </div>
    </div>
</div>