<div class="admin-div">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Add car</a></li>
        <li><a data-toggle="tab" href="#menu1">Car list</a></li>
        <li><a data-toggle="tab" href="#menu2">Users list</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            {{>addCar}}
        </div>
        <div id="menu1" class="tab-pane fade">
            {{>carList}}
        </div>
        <div id="menu2" class="tab-pane fade">
            {{>userList}}
        </div>
    </div>
</div>