<link rel="stylesheet" href="/css/login.css">
<br><br>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <style>
        .header{
            background:#373a3c;
        }
    </style>
    <!-- Icon -->
    <div class="fadeIn first">
        <br><br>
      <img style="width:48px; height:48px; margin-bottom:20px" src="https://img.icons8.com/fluent/48/000000/car.png" id="icon" alt="User Icon" />
    </div>
    <!-- Login Form -->
    <form method="POST">
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
      <br><br>
      <input type="submit" formaction="/auth/login" class="fadeIn fourth" value="Sign In">
    </form>

    <style>
        #reg{
            color: #23527c;
            border: none;
            background: none;
        }

        #reg:hover{
            text-decoration: underline;
        }
    </style>

    <!-- Remind Passowrd -->
    <div id="formFooter">
        <form method="GET">
            <button id="reg" type="button" onclick="location.href='/register'">Sign Up</button>
        </form>
    </div>

  </div>
</div>