<link rel="stylesheet" href="/css/login.css">
<br><br>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first">
        <br><br>
      <img style="width:48px; height:48px; margin-bottom:20px" src="https://img.icons8.com/fluent/48/000000/car.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="POST">
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="email">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="text" id="phone" class="fadeIn third" name="phone" placeholder="phone">
      <br><br>
      <input type="submit" formaction="/register/send" class="fadeIn fourth" value="Sign Up">
    </form>
    <style>
        #log{
            color: #23527c;
        }
    </style>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a id="log" class="underlineHover" href="http://localhost:5000/login">Sign in</a>
    </div>

  </div>
</div>