#s{
    color: rgb(78, 177, 184);
}

#start_but{
    height: 50px;
    width: 120px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 24px;
}

html{
    background-color: #373a3c;
}

.back-div{
    margin-top: 80px;
    padding: 5px;
}

.product-item{
    background-color: gainsboro;
    height: 120px;
    width: 60%;
    margin: 0 auto;
    margin-top: 2px;
    padding: 5px 5px;
}

.product-item:hover{
    background-color: rgb(219, 216, 216);
}

.mini-pic{
    height: 110px;
    width: 180px;
}

.brand_label{
    margin-left: 20px;
}

#link-item{
    color: rgb(43, 103, 138);
}

.down-div{
    margin-top: 10%;
}

.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}

#product-card{
    margin-top: 80px;
    padding: 10px 10px;
}

#big-picture{
    height: 299.2;
    width: 451.83;
}

.img-big-wrap{
    margin-top: 6%;
    margin-left: 10%;
}

.card-body.p-5{
    margin-top: 7%;
    margin-left: 10%;
}

.descript{
    font-size: 24px;
}

.title.mb-3{
    font-size: 40px;
}

#prod-descript{
    margin-top: 10%;
    margin-left: 7%;
}

.admin-div{
    margin-top: 80px;
}

.custom-file-input{
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.custom-file-input input[type="file"]{
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1;  /* Fix for IE7 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

#txt{
    width: 461px;
    height: 35px;
    border-radius: 4px;
    border:1px solid;
    border-color: rgb(189, 189, 189);
    text-align: center;
}

#attach{
    width:180px;
    height: 34px;
    background-color: #f7c552;
    border: none;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#add{
    margin-top: 20px;
    background-color: rgb(78, 177, 184);
    background-image:none;
    background-repeat:no-repeat;
    border-color:rgb(78, 177, 184);
    width: 200px;
    height: 40px;
}

#add_but{
    text-align: center;
}

#eHp{
    width: 60%;
}

#quantity{
    width: 20%;
    margin-left: 2px;
}

#del_but{
    background-color: rgb(112, 10, 10);
    background-image:none;
    background-repeat:no-repeat;
    border-color:rgb(112, 10, 10);
    margin-left: 80%;
    margin-top: -7%;
    
    position: relative;
    width: 120px;
    height: 35px; 
}

.header{
    background:#373a3c;
}